@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');



* {
    margin         : 0;
    padding        : 0;
    outline        : none;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
}

body {
    font-family     : 'Lato', sans-serif;
    font-size       : 1.1rem;
    background-color: black;
}

/* Preloader*/

.centrado {
    height          : 100vh;
    background-color: var(--black);
    display         : flex;
    justify-content : center;
    align-items     : center;
}

lds-dual-ring {
    display: inline-block;
    width  : 80px;
    height : 80px;
}

.lds-dual-ring:after {
    content      : " ";
    display      : block;
    width        : 64px;
    height       : 64px;
    margin       : 8px;
    border-radius: 50%;
    border       : 6px solid #fff;
    border-color : #fff transparent #fff transparent;
    animation    : lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Arrow down*/

.fa-chevron-down {
    position   : absolute;
    color      : #fff;
    font-size  : 2rem;
    font-weight: bold;
    bottom     : 3%;
    left       : 50%;
    animation  : up-down 2s ease infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }

    25% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

.container-title {
    text-align    : center;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color      : #fff;
    font-family: 'Lato', sans-serif;
    text-align : center;
}

p {
    font-family: 'Oswald', sans-serif;
}

/* Whatsapp fixed*/

.boton-wsp{
    display: none;
}

.boton-wsp .fa-whatsapp {
    position     : fixed;
    text-align   : center;
    font-size    : 2.2rem;
    color        : #fff;
    width        : 2rem;
    height       : 2rem;
    bottom       : 3rem;
    right        : 6%;
    border-radius: 50%;
    line-height  : 1;
    background   : black;
    z-index      : 10;
}

.boton-wsp .fa-whatsapp:hover {
    background-color: rgb(97, 202, 87);
}

/*NAV -- CLASES DE FULLPAGE*/

#fp-nav{
    display: none;
}

#fp-nav ul li a span {
    background: rgb(226, 43, 43);
}

#fp-nav ul li .fp-tooltip {
    color    : rgb(226, 43, 43);
    font-size: 1rem;
}

/*NAV */

.nav {
    position       : fixed;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    z-index        : 10;
    width          : 100%;
    margin         : 0;
    padding        : 10px 20px;
}

.nav a .logo {
    width: 4rem;
}

.nav a span {
    font-size: 2rem;
}

.nav li,
.nav a {
    display       : inline-block;
    margin        : .8rem;
    text-transform: uppercase;
    font-family   : 'Oswald', sans-serif;
    font-size     : 1.1rem;
    color         : rgb(226, 43, 43);
    transition    : .5s ease;
}

.nav li.active {
    border-bottom: 2px solid #fff;
}

.menu li a {
    transition: .5s ease;
    margin    : 0;
    padding   : 0;
}

.menu li.active a,
.menu li:hover a {
    color: #fff;
}

/*HEADER*/

.header {
    background         : linear-gradient(0deg, rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.075)), linear-gradient(248.75deg, rgba(0, 159, 157, 0.41) 0%, rgba(15, 10, 60, 0.41) 38.46%), url(../assets/img/banner.jpg);
    background-size    : cover;
    background-position: center;
}

.header h1 {
    font-size : 3rem;
    font-style: italic;
}

.header p {
    text-align: center;
    color     : #fff;
    font-size : 1.5rem;
}

span {
    color      : rgb(226, 43, 43);
    font-weight: 700;
    font-size  : 3rem;
    font-style : italic;
}

/*PRODUCTOS*/

.slide .container-product {
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.productos .info-products {
    margin      : 0 2rem;
    padding-left: .5rem;
    border-left : 2px solid rgb(226, 43, 43);
}

.product-name {
    font-size: 2rem;
    color    : rgb(226, 43, 43);
}

.productos .price {
    font-size: 1.7rem;
    color    : #fff;
}

.img-slide img {
    width : 650px;
    height: 380px;
}

/*Clases de FullPage para flechas Slide*/

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left        : 50%;
    border-width: 20px 20px 20px 0;
    border-color: transparent rgb(226, 43, 43) transparent transparent;
}

.fp-controlArrow.fp-next {
    right       : 40%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent rgb(226, 43, 43);
}

/*CONTACTO*/

footer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.form-box {
    width        : 400px;
    padding      : 30px;
    background   : rgba(12, 12, 12, 0.774);
    border-radius: .5rem;
    margin-top   : 4.7rem;
}

.form-box h4 {
    margin-bottom: .6rem;
}

.form-box .user-box {
    position: relative;
}

.form-box .user-box input,
textarea {
    width        : 100%;
    padding      : 10px 0;
    font-size    : 1rem;
    color        : #fff;
    margin-bottom: .6rem;
    border       : none;
    border-bottom: 1px solid #fff;
    background   : transparent;
}

.form-box .user-box label {
    position      : absolute;
    top           : 0;
    left          : 0;
    padding       : 10px 0;
    font-size     : 16px;
    color         : #fff;
    pointer-events: none;
    transition    : .5s;
}

.form-box .user-box textarea:focus~label,
.form-box .user-box input:focus~label,
.form-box .user-box input:valid~label {
    top      : -20px;
    left     : 0;
    color    : #bdb8b8;
    font-size: .6rem;
}

.form-box form button {
    position      : relative;
    display       : inline-block;
    padding       : 9px 20px;
    font-size     : .8rem;
    color         : #fff;
    text-transform: uppercase;
    overflow      : hidden;
    transition    : .5s;
    margin-top    : .4rem;
    letter-spacing: 4px;
    background    : rgba(12, 12, 12, 0.774);
    border        : 1px solid rgb(226, 43, 43);
}

.form-box button:hover {
    background   : rgb(226, 43, 43);
    color        : #fff;
    border-radius: 5px;
    box-shadow   :
        0 0 20px rgb(226, 43, 43),
        0 0 40px rgb(226, 43, 43),
        0 0 60px rgb(226, 43, 43);
}

.form-box button span {
    position: absolute;
    display : block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.form-box button span {
    bottom    : 5px;
    left      : -100%;
    width     : 100%;
    height    : 3px;
    background: linear-gradient(90deg, transparent, rgb(226, 43, 43));
    animation : btn-anim1 2s linear infinite;
}

.right {
    display       : flex;
    flex-direction: column;
    margin        : 1rem 0;
}

.right .socials .socials-title {
    margin-bottom: .8rem;
}

.right .socials i {
    font-size : 1.8rem;
    color     : rgb(226, 43, 43);
    margin    : 0 2.5rem;
    transition: all .2s ease;
}

.right .socials i:hover {
    color    : #fff;
    transform: rotateY(-360deg);
}

.developed {
    width        : 80%;
    height       : 3.5rem;
    border-radius: .4rem;
    border       : .1rem solid rgba(12, 12, 12, 0.774);
    margin       : 1rem 2rem;
}

/*--------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media screen and (max-width: 588px) {

    .nav a .logo {
        width: 2.5rem;
    }

    .nav a span {
        font-size: 1.7rem;
    }

    .nav li,
    .nav a {
        font-size: .8rem;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1rem;
    }

    span {
        font-size: 2.5rem;
    }

    .fa-chevron-down {
        font-size: 1.5rem;
    }

    .product-name {
        font-size: 1.2rem;
    }

    .productos .price {
        font-size: 1.3rem;
    }

    .img-slide img {
        width : 300px;
        height: 180px;
    }

    .fp-controlArrow.fp-prev {
        left: 40%;
    }

    .fp-controlArrow.fp-next {
        right: 30%;
    }

    .form-box form button {
        font-size: .6rem;
    }

    .right .socials i {
        font-size: 1.3rem;
    }

    .form-box {
        padding: 1.2rem;
    }

    .developed {
        height: 3rem;
        margin: .6rem 2rem;
    }

}

@media screen and (max-width: 482px) {

    .nav a .logo {
        width: 2rem;
    }

    .nav a span {
        font-size: 1rem;
    }

    .nav li,
    .nav a {
        font-size: .7rem;
    }

    .header h1 {
        font-size: 2rem;
    }

    .header p {
        font-size: .8rem;
    }

    span {
        font-size: 2rem;
    }

    .fa-chevron-down {
        font-size: 1rem;
    }

    .productos .info-products {
        margin: 0 1rem;
    }

    .product-name {
        font-size: 1rem;
    }

    .productos .price {
        font-size: .8rem;
    }

    .img-slide img {
        width : 200px;
        height: 120px;
    }

}

@media screen and (max-width: 395px) {

    .nav a .logo {
        width: 1.7rem;
    }

    .nav a span {
        font-size: .8rem;
    }

    .nav li,
    .nav a {
        font-size: .6rem;
    }

    .productos .info-products {
        margin: 0 .4rem;
    }

    .product-name {
        font-size: .9rem;
    }

    .productos .price {
        font-size: .7rem;
    }

    .img-slide img {
        width       : 180px;
        height      : 110px;
        margin-right: 1.5rem;
    }

    .boton-wsp {
        display: none;
    }

    .form-box {
        width : 80%;
        margin: auto;
    }

    .right .socials i {
        font-size: 1.5rem;
        margin   : 0 2.3rem;
    }

}